<!DOCTYPE html>
<html lang="en">
    <%- include('./partilas/head.ejs') %>
<body>
    <%- include('./partilas/nav.ejs') %>
  
   <div class = "not-found content" >
    Oops content not found :(
   </div>
   <%- include('./partilas/footer.ejs') %>
</body>
</html>